{
    "useTabs": true,
    "singleAttributePerLine": true,
    "importOrder": [
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@store/(.*)$",
        "^@components/(.*)$",
        "^@images/(.*)$",
        "^@actions/(.*)$",
        "^@reducers/(.*)$",
        "^@middlewares/(.*)$",
        "^@hooks/(.*)$",
        "^@router/(.*)$",
        "^@layout/(.*)$",
        "^@app/(.*)$",
        "^@features/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tailwindConfig": "./tailwind.config.cjs"
}