{
    "useTabs": true,
    "singleAttributePerLine": true,
    "importOrder": [
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^@store/(.*)$",
        "^@components/(.*)$",
        "^@images/(.*)$",
        "^@actions/(.*)$",
        "^@reducers/(.*)$",
        "^@middlewares/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tailwindConfig": "./tailwind.config.cjs"
}